
{% extends "base.html" %}
{% block middle_slider %}
<div class="d-flex flex-column justify-content-center w-100 mx-auto"
          style="padding-top: 56px; max-width: 680px">

          <!-- create post -->
          <div class="bg-white p-3 mt-3 rounded border shadow">
            <!-- avatar -->
            <div class="d-flex" type="button">
              <div class="p-1">
                <img src="{{avatar_path}}" alt="avatar" class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover" />
              </div>
              <input type="text" class="form-control rounded-pill border-0 bg-gray pointer" disabled
                placeholder="Поделитесь своими мыслями" data-bs-toggle="modal" data-bs-target="#createModal" />
            </div>
            <!-- create modal -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true"
              data-bs-backdrop="false">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <!-- head -->
                  <div class="modal-header align-items-center">
                    
                    <h5 class="text-dark text-center w-100 m-0" id="exampleModalLabel">
                      Новый пост
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <!-- body -->
                  <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id="publication_error" style="display: none;">
                      Произошла ошибка при публикации!
                    </div>
                    <div class="my-1 p-1">
                      <div class="d-flex flex-column">
                        <form action="/api/create_post" method="POST" id="new_post_form">
                          <!-- name -->
                          <div class="d-flex align-items-center">
                            <div class="p-2">
                              <img src="{{avatar_path}}" alt="from fb" class="rounded-circle" style="
                                  width: 38px;
                                  height: 38px;
                                  object-fit: cover;
                                " />
                            </div>
                            <div>
                              <p class="m-0 fw-bold">{{user_name}}</p>
                              <select class="form-select border-0 bg-gray w-75 fs-7"
                                aria-label="Default select example">
                                <option selected value="1">Для всех</option>
                                <option value="2">Для друзей</option>
                                <option value="3">Только для себя</option>
                                <option value="3">Только для школы %N%</option>
                              </select>
                            </div>
                          </div>
                          <!-- text -->
                          <div class="mt-4">
                            <textarea cols="30" rows="5" class="form-control border-1" name="post_text" id="post_text_area"></textarea>
                          </div>
                          <div class="collapse" id="collapseCodeSnippetArea">
                            <div class="mt-4">
                              Вставьте код сюда:
                              <textarea cols="30" rows="5" class="form-control border-1" name="post_attachment_code_snippet" id="post_attachment_code_snippet" required></textarea>
                            </div>
                          </div>


                          <!-- options -->
                          <div class="
                              d-flex
                              justify-content-between
                              border border-1 border-light
                              rounded
                              p-3
                              mt-3
                            ">
                            <p class="m-0">Добавить к посту</p>
                            <div>
                              <i class="
                                  fas
                                  fa-images
                                  fs-5
                                  text-success
                                  pointer
                                  mx-1
                                ">
                              </i>
                              <i class="
                                fas
                                fa-code
                                fs-5
                                text-danger
                                pointer
                                mx-1
                          " data-bs-toggle="collapse" href="#collapseCodeSnippetArea" role="button" aria-expanded="false" aria-controls="collapseCodeSnippetArea"></i>
                            </div>
                          </div>
                      </div>
                    </div>

                    <!-- end -->
                  </div>
                  <!-- footer -->
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">
                      Опубликовать
                    </button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <hr />
            <!-- actions -->
            <div class="d-flex flex-column flex-lg-row mt-3">
              <!-- a 1 -->
              <div class="
                    dropdown-item
                    rounded
                    d-flex
                    align-items-center
                    justify-content-center
                  " type="button">
                <i class="fas fa-code me-2 text-danger"></i>
                <p class="m-0 text-muted">Код</p>
              </div>
              <!-- a 2 -->
              <div class="
                    dropdown-item
                    rounded
                    d-flex
                    align-items-center
                    justify-content-center
                  " type="button">
                <i class="fas fa-photo-video me-2 text-success"></i>
                <p class="m-0 text-muted">Фото/Видео</p>
              </div>
              <!-- a 3 -->
              <div class="
                    dropdown-item
                    rounded
                    d-flex
                    align-items-center
                    justify-content-center
                  " type="button">
                <i class="fas fa-smile me-2 text-warning"></i>
                <p class="m-0 text-muted">Статус</p>
              </div>
            </div>
          </div>

          <!-- posts -->


          <div class="posts_area">
            <div class="bg-white p-4 rounded shadow mt-3">
              <!-- Loading bar -->
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>              
            </div>
          </div>
          

        </div>{% endblock %}

{% block right_slider %}
<!-- ================= Chatbar ================= -->
div class="col-12 col-lg-3">
<div class="
      d-none d-xxl-block
      h-100
      fixed-top
      end-0
      overflow-hidden
      scrollbar
    " style="
      max-width: 360px;
      width: 100%;
      z-index: 4;
      padding-top: 56px;
      left: initial !important;
    ">
  <div class="p-3 mt-4">
    <!-- sponsors -->
    <h5 class="text-muted">Рекомендуем</h5>
    <!-- s 1 -->
    <li class="dropdown-item my-2 d-flex justify-content-between">
      <!-- img -->
      <a href="#" class="
            d-flex
            align-items-center
            text-decoration-none
            link-dark
          ">
        <img src="https://source.unsplash.com/random/1" alt="ads"
          style="width: 100px; height: 100px; object-fit: cover" class="rounded me-3" />
        <div>
          <p class="m-0">Lorem ipsum</p>
          <span class="text-muted fs-7">loremipsum.com</span>
        </div>
      </a>
      <!-- icon -->
      <div class="
            rounded-circle
            p-1
            bg-white
            d-flex
            align-items-center
            justify-content-center
            mx-2
            sponsor-icon
            nav-item
          " type="button" style="width: 38px; height: 38px">
        <i class="fas fa-ellipsis-h text-muted p-2" data-bs-toggle="dropdown"></i>
        <!-- menu -->
        <ul class="dropdown-menu">
          <!-- item 1 -->
          <li class="dropdown-item">
            <a href="#" class="
                  d-flex
                  align-items-center
                  text-decoration-none text-dark
                ">
              <i class="far fa-window-close"></i>
              <div class="ms-3">
                <p class="m-0">Неинтересно</p>
                <span class="text-muted fs-7">Скрыть объявление</span>
              </div>
            </a>
          </li>

        </ul>
      </div>
    </li>
    <!-- s 2 -->
    <li class="dropdown-item my-2 d-flex justify-content-between">
      <!-- img -->
      <a href="#" class="
            d-flex
            align-items-center
            text-decoration-none
            link-dark
          ">
        <img src="https://source.unsplash.com/random/2" alt="ads"
          style="width: 100px; height: 100px; object-fit: cover" class="rounded me-3" />
        <div>
          <p class="m-0">Lorem ipsum</p>
          <span class="text-muted fs-7">loremipsum.com</span>
        </div>
      </a>
      <!-- icon -->
      <div class="
            rounded-circle
            p-1
            bg-white
            d-flex
            align-items-center
            justify-content-center
            mx-2
            sponsor-icon
            nav-item
          " type="button" style="width: 38px; height: 38px">
        <i class="fas fa-ellipsis-h text-muted p-2" data-bs-toggle="dropdown"></i>
        <!-- menu -->
        <ul class="dropdown-menu">
          <!-- item 1 -->
          <li class="dropdown-item">
            <a href="#" class="
                  d-flex
                  align-items-center
                  text-decoration-none text-dark
                ">
              <i class="far fa-window-close"></i>
              <div class="ms-3">
                <p class="m-0">Hide Ad</p>
                <span class="text-muted fs-7">Never see this add again.</span>
              </div>
            </a>
          </li>
          <!-- item 2 -->
          <li class="dropdown-item">
            <a href="#" class="
                  d-flex
                  align-items-center
                  text-decoration-none text-dark
                ">
              <i class="fas fa-exclamation-triangle"></i>
              <div class="ms-3">
                <p class="m-0">Report Ad</p>
                <span class="text-muted fs-7">Tell us a problem with this add.</span>
              </div>
            </a>
          </li>
          <!-- item 3 -->
          <li class="dropdown-item">
            <a href="#" class="
                  d-flex
                  align-items-center
                  text-decoration-none text-dark
                ">
              <i class="fas fa-info-circle"></i>
              <div class="ms-3">
                <p class="m-0">Why am I seeing this ad?</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- contacts -->
    <hr class="m-0" />
    <div class="my-3 d-flex justify-content-between align-items-center">
      <p class="text-muted fs-5 m-0">Мессенджер</p>
      <!-- icons -->
      <div class="text-muted">
       
        <!-- new chat -->
        <i class="fas fa-search mx-2 pointer" type="button" data-bs-toggle="modal"
          data-bs-target="#newChat"></i>
        <!-- chat settings -->
        <i class="fas fa-ellipsis-h pointer text-muted mx-2" type="button" data-bs-toggle="dropdown"></i>
        <!-- chat setting dd -->
        <ul class="dropdown-menu shadow" style="width: 18em">
          <!-- title -->
          <div class="p-2">
            <h5>Настройки</h5>
            <span class="text-muted fs-7">Настройте мессенджер.</span>
          </div>
          <hr />
          <!-- incoming sound -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="fas fa-phone-alt me-3"></i>
                <p class="m-0">Incoming call sounds</p>
              </div>
              <!-- toggle -->
              <div class="form-check form-switch m-0">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
            </div>
          </li>
          <!-- message sound -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="fas fa-volume-off me-4 fs-4"></i>
                <p class="m-0">Message sounds</p>
              </div>
              <!-- toggle -->
              <div class="form-check form-switch m-0">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
            </div>
          </li>
          <!-- popup message -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="fas fa-spinner me-3"></i>
                <p class="m-0">Pop-up new messages</p>
              </div>
              <!-- toggle -->
              <div class="form-check form-switch m-0">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
            </div>
            <span class="ms-5 text-muted fs-7">Automatically open new messages.</span>
          </li>
          <hr class="m-0" />
          <!-- item 1 -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="fas fa-toggle-off me-3"></i>
                <p class="m-0">Turn Off Active Status</p>
              </div>
            </div>
          </li>
          <!-- item 2 -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="far fa-comment-alt me-3"></i>
                <p class="m-0">Message Request</p>
              </div>
            </div>
          </li>
          <!-- item 3 -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="fas fa-share-square me-3"></i>
                <p class="m-0">Message delivery settings</p>
              </div>
            </div>
          </li>
          <!-- item 4 -->
          <li>
            <div class="
                  dropdown-item
                  d-flex
                  align-items-center
                  justify-content-between
                ">
              <!-- icon -->
              <div class="d-flex align-items-center">
                <i class="fas fa-shield-alt me-3"></i>
                <p class="m-0">Block settings</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- friend 1 -->
    <li class="dropdown-item rounded my-2 px-0" type="button" data-bs-toggle="modal"
      data-bs-target="#singleChat1">
      <!-- avatar -->
      <div class="d-flex align-items-center mx-2 chat-avatar" data-bs-custom-class="chat-box"
        data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover"
        data-bs-content='
            <div>
              <div class="popover-body d-flex p-2">
                <div>
                  <img src="https://source.unsplash.com/random/4" alt="avatar" class="pop-avatar"  />
                </div>
                <div >
                  <h5>Mike</h5>
                  <div class="d-flex">
                    <i class="fas fa-user-friends m-1 text-muted"></i>
                    <p>2 mutual friends: <span class="fw-bold">Jerry</span> and <span class="fw-bold">Phu</span></p>
                  </div>
                  <div class="d-flex">
                  <i class="fas fa-graduation-cap m-1 text-muted"></i>
                  <p>Studies at MIT</p>
                  </div>
                </div>
              </div>
            </div>
          ' data-bs-html="true">
        <div class="position-relative">
          <img src="https://source.unsplash.com/random/4" alt="avatar" class="rounded-circle me-2"
            style="width: 38px; height: 38px; object-fit: cover" />
          <span class="
                position-absolute
                bottom-0
                translate-middle
                border border-light
                rounded-circle
                bg-success
                p-1
              " style="left: 75%">
            <span class="visually-hidden"></span>
          </span>
        </div>
        <p class="m-0">Mike</p>
      </div>
    </li>
    
  </div>
</div>
</div>


{% endblock %}


      



    </div>
  </div>

  <!-- ================= Chat Icon ================= -->
  <div class="fixed-bottom right-100 p-3" style="z-index: 6; left: initial" type="button" data-bs-toggle="modal"
    data-bs-target="#newChat">
    <i class="fas fa-edit bg-white rounded-circle p-3 shadow"></i>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
  

</body>

</html>